@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 480px) {

    header{
        max-width: 100%;
    }

    .botaoacessarport{
        transform: translateX(-20%);
    }

    .segundasecao{
        max-width: 100%;
    }

    .item-meusprojetos{
        align-items: center;
        justify-content: center;
    }

    .calculadora-juros, .cronometro-timer, .apirestbiblioteca, .apirestrestaurant,.academia, .cadastro-produto{
        flex-direction: column;
        text-align: center;
    }

    .item-meusprojetos > .apirestbiblioteca > a > img{
        width: 350px;
        height: 220px;
    }

    .calculadora-juros p{
        margin: auto;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px){
    .botaoacessarport{
        transform: translateX(-20%);
    }

    .item-meusprojetos{
        align-items: center;
        justify-content: center;
    }

    .calculadora-juros, .cronometro-timer, .apirestbiblioteca, .apirestrestaurant, .academia, .cadastro-produto{
        flex-direction: column;
        text-align: center;
    }

    .item-meusprojetos > .apirestbiblioteca > a > img{
        width: 380px;
        height: 230px;
    }

    .calculadora-juros p{
        margin: auto;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 992px){

    .item-meusprojetos{
        align-items: center;
        justify-content: center;
    }

    .calculadora-juros, .cronometro-timer, .apirestbiblioteca, .apirestrestaurant, .academia, .cadastro-produto{
        flex-direction: column;
        text-align: center;
    }

    .calculadora-juros p{
        margin: auto;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    .botaoacessarport{
        transform: translateX(-20%);
    }
}
